<p>persons works!</p>
<div *ngIf="vm$ | async | json as vm">
    
    <pre>vm {{  vm }}</pre>
</div>
<router-outlet></router-outlet>
<ng-container *ngIf="vm$ | async as vm">

    <h1>Users</h1>
  
    <div>Add a User</div>
    <input #user type="text" (change)="addUserState.next(user.value)" >
    <hr>
  
    <div *ngFor="let user of vm.users">
      <button (click)="deleteUserSubj.next(user)" >X</button>  
      <button (click)="detailUserSubj.next(user)" >detail</button>
      {{user.name}}
    </div> 
    
    <div style="margin-top:1em" *ngIf="vm.selectedUser">
      {{vm.selectedUser.id}} - {{vm.selectedUser.name}}
      <button (click)="closeDetailSubj.next()">close</button>
    </div>
  
    
  </ng-container>