<p>persons works!</p>
<router-outlet></router-outlet>
<ng-container *ngIf="vm$ | async as vm">
  
  <h1>Persons</h1>
  
  <div>Add a Person</div>
  <input #person type="text" (change)="addState.next({name: person.value});" >
  <hr>
  
  <div *ngFor="let person of vm.persons">
    <button (click)="deleteState.next(person)" >X</button>  
    <button (click)="detailState.next(person)" >detail</button>
    {{person.name}}
  </div> 
  
  <div style="margin-top:1em" *ngIf="vm.selectedPerson">
    {{vm.selectedPerson.id}} - {{vm.selectedPerson.name}}
    <button (click)="detailStateClose.next()">close</button>
  </div>
  
  
      <!-- <pre>vm {{  vm | json }}</pre> -->
  
    
  </ng-container>